1 ICON FUT064.ICO
1 VERSIONINFO
FILEVERSION     0,6,0,0
PRODUCTVERSION  0,6,0,0
FILEFLAGSMASK   0x3FL
FILEOS          0x40004L
FILEFLAGS       0L
FILETYPE        1L
FILESUBTYPE     0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", "0.6.0.0"
            VALUE "CompanyName", "Ihar S. Areshchankau"
            VALUE "LegalCopyright", "Copyright (C) 2025 Ihar S. Areshchankau"
            VALUE "OriginalFilename", "fut.exe"
            VALUE "InternalName", "fut"
            VALUE "ProductName", "FUT"
            VALUE "ProductVersion", "0.6b"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x0409, 0x04E4
    END
END